* {
	padding: 0px;
	margin: 0px;
	border: none;
}

.anim_window {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.anim_window_ll {
  display: flex;
  height: 100vh;
  width: 60vw;
  overflow: hidden;
}

.anim_window_rr {
  display: flex;
  height: 100vh;
  width: 40vw;
  overflow: hidden;
}

.rect_r {
  padding-top: 20vw;
  padding-left: 20vw;
  animation: move;
  scale: 2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: move_r;
}

@keyframes move_r {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(0px);
  }
} 

.rect_l {
  scale: 1.8;
  padding-right: 130%;
  animation: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: move_l;
}

@keyframes move_l {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
} 





